<div class="container">
  <div class="dashboard-header">
    <h1>
      Welcome, <%= current_user.first_name.capitalize %>
    </h1>

    <div class="col-sm-4 col-xs-offset-4">
      <div class="list-group">
        <a href="<%= new_tweet_path %>" class="list-group-item active">
          <h4 class="list-group-item-heading">Tweet About Us</h4>
          <p class="list-group-item-text"> <%= image_tag "twitter_logo.png", class:"twitter" %> </p>
        </a>
        <a href="<%= orders_path %>" class="list-group-item list-group-item-default">
          <h4 class="list-group-item-heading">My Trips</h4>
        </a>
        <% if @user.username %>
        <a href="<%= listings_path(@user.username) %>" class="list-group-item">
          <h4 class="list-group-item-heading">My Listings</h4>
        </a>
        <% end %>
        <a href="<%= new_space_path %>" class="list-group-item">
          <h4 class="list-group-item-heading">Post Your Space!</h4>
        </a>
        <% if @user.username %>
        <a href="<%= edit_user_path(@user.username) %>" class="list-group-item">
          <h4 class="list-group-item-heading">Edit Account Info</h4>
        </a>
        <% end %>
      </div>
    </div>
