<div class="container">
  <div class="dashboard-header">
    <h1>
      Welcome, <%= current_user.first_name.capitalize %>
    </h1>

  <div class="dashboard-buttons">
    <a href="//twitter.com/home?status=Wookie%20Nights%2C%20a%20warmer%20shopping%20experience%20than%20spending%20the%20night%20in%20the%20belly%20of%20a%20Tauntaun!", class="btn btn-custom btn-person", id="twitter-button-font">Tweet About Us!</a>
    <% if @user.username %>
      <%= button_to "Edit Account Info", edit_user_path(@user.username), method: :get, class: "btn btn-custom btn-person" %>
    <% end %>
    <%= button_to "My Trips", orders_path, method: :get, class: "btn btn-custom btn-person" %>
    <% if @user.username %>
      <%= button_to "My Listings", listings_path(@user.username), method: :get, class: "btn btn-custom btn-person" %>
    <% end %>
    <%= button_to "Post Your Space!", new_space_path, method: :get, class: "btn btn-custom btn-person" %>
  </div>
</div>
