<div class="container">
  <h1> All Planets </h1>

  <table id="planets-table" class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @planets.each do |planet| %>
      <tr id="row-<%= planet.name %>">
      <td><%= planet.name %></td>
      <td><%= link_to "Edit #{planet.name}", edit_admin_planet_path(planet.id) %></td>
      <td>
      <% if planet.active %>
        <%= link_to "Deactivate", admin_planet_path(id: planet, change_active: "true"), method: :patch %>
      <% else %>
        <%= link_to "Activate", admin_planet_path(id: planet, change_active: "true"), method: :patch %>
      <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
