<div class="container">
  <div class="col-md-6 col-md-offset-3">
  <div class="well">
    <h2 class="text-center"><%= "Edit #{@space.name}" %></h2>
<%= form_for(@space) do |f| %>
  <h4><%= f.label :name %><br>
  <span class="form-field-sockname"><%= f.text_field :name, class: "form-control" %></span></span></h4>
  <h4><%= f.label :description %><br>
  <span class="form-field-price"><%= f.text_area :description, class: "form-control" %></span></h4>
  <h4><%= f.label :occupancy %><br>
  <span class="form-field-price"><%= f.text_field :occupancy, class: "form-control" %></span></h4>
  <h4><%= f.label :price, "Nightly Rate" %><br>
  <span class="form-field-price"><%= f.text_field :price, class: "form-control" %></span></h4>
  <h4><%= f.label :planet %><br>
  <span class="select-foot"><%= f.select :planet, Planet.all.pluck(:name), class: "form-control" %></span></h4>
  <h4><%= f.label :style, "Climate" %><br>
  <span class="select-style"><%= f.select :style, Style.all.pluck(:name), class: "form-control" %></span></h4>
  <h4><%= f.label :image_url %><br>
  <span class="form-field-image"><%= f.file_field :image_url %></span></h4>
  <%= f.submit "Update Space", class: "btn btn-default center-block" %>
<% end %>
</div>
</div>
</div>
