<div class="container">
  <h1> All Spaces </h1>

  <table id="listings-table" class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Climate</th>
      <th>Planet</th>
      <th>Description</th>
      <th>Occupancy</th>
      <th>Approved</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
      <td><%= space.name %></td>
      <td><%= space.price %></td>
      <td><%= space.style_id %></td>
      <td><%= space.planet_id %></td>
      <td><%= space.description %></td>
      <td><%= space.occupancy %></td>
      <td><%= space.approved %></td>
      <td><%= link_to "Edit", edit_admin_space_path(space.id) %></td>
      <% if space.active %>
        <%= link_to "Deactivate", admin_space_path(id: space, change_active: "true"), method: :patch %>
      <% else %>
        <%= link_to "Activate", admin_space_path(id: space, change_active: "true"), method: :patch %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
