<div>
  <%= image_tag @space.image_url.url(:medium) %><br><br>
</div>
<div class="col-md-4 col-md-offset-2">
  <h2><%= @space.name %></h2><br>
  <p>Description: <%= @space.description %></p>
</div>
<div class="col-md-3 col-md-offset-2">
  <%= form_tag(reservations_path, method: "post") do %>
    <p class="price">Nightly Rate: <%= number_to_currency(@space.price) %></p><br>
    <p>
      Check in Date: <%= text_field_tag "start_date", nil, placeholder: "mm/dd/yyyy", class: "form-control", id: "datepicker-checkin" %><br><br>
      Check out Date: <%= text_field_tag "end_date", nil, placeholder: "mm/dd/yyyy", class: "form-control", id: "datepicker-checkout" %><br><br>
      Occupancy: <%= @space.occupancy %><br><br>
      Planet: <%= @space.planet.name %><br><br>
      Style: <%= @space.style.name %><br><br>
    </p>
    <div class="quantity-button">
      <%= hidden_field_tag :space_id, @space.id %>
      <%= submit_tag "Reserve this Space", class: "btn btn-default" %>
    </div>
  <% end %>
</div>
