<div>
  <%= image_tag @space.image_url.url(:medium) %><br><br>
</div>
<div class="col-md-4 col-md-offset-2">
  <h2><%= @space.name %></h2><br>
  <p>Description: <%= @space.description %></p>
</div>
<div class="col-md-3 col-md-offset-2">
  <p class="price">Nightly Rate: <%= number_to_currency(@space.price) %></p><br>
  <p>Check in Date: *Date Selector*<br><br>
     Check out Date: *Date Selector*<br><br>
     Occupancy: <%= @space.occupancy %><br><br>
     Planet: <%= @space.planet.name %><br><br>
     Style: <%= @space.style.name %><br><br>
     </p>
     <div class="quantity-button">
       <%= button_to("Reserve this Space", "/reservations", params: { space_id: @space.id }, class: "btn btn-custom btn-person") %>
     </div>
</div>
