<div class="search">
  <%= form_tag(spaces_path, method: "get") do %>
    <%= text_field_tag(:planet) %>
    <%= text_field_tag(:occupancy) %>
    <%= text_field_tag(:start_date) %>
    <%= text_field_tag(:end_date) %>
    <%= submit_tag("search") %>
  <% end %>
</div>
