<div class="container">
  <h1>Order Details</h1>

  <h3>Details for Your Order #<%= @order.id%></h3>

  <table id="order-table" class="table table-hover">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date Ordered</th>
        <th>Total Price</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @order.id %></td>
        <td><%= @order.created_at.strftime("Order placed on %A, %B %d, %Y at %I:%M %p") %></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">
  <h3 class="text-center">Reservations</h3>
  <table id="order-item-table" class="table table-hover">
    <thead>
      <tr>
        <th>Space</th>
        <th>Occupancy</th>
        <th>Price Per Night</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% @order.reservations.each do |reservation| %>
        <td><%= link_to "#{reservation.space.name}", space_path(reservation.space_id) %></td>
        <td><%= reservation.order.spaces.first.occupancy %></td>
        <td>$<%= reservation.total.round(2) %></td>
    </tbody>
  </table>

      <th><strong>Totals: </strong></th>
        <tr><%= (reservation.order.spaces.first.occupancy * reservation.total).to_f.round(2) %></tr>
        <% end %>
</div>
