<div class="container" id="cart-spaces">
  <div class="row cart-spaces">
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Details</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Host(s)</th>
            <th>Price per Night</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @reservations.each do |reservation| %>
            <th scope="row"><%= image_tag reservation.image_url.url(:thumb) %></th>
            <td><p><%= link_to reservation.name.capitalize, reservation_path(reservation), class: "link_text" %> </p>
              <td><p>Planet: <%= reservation.planet.name %> </p>
                  <p>Climate: <%= reservation.style.name %> </p></td>
              </td>
              <td> <%= Time.parse(reservation.start_date).strftime("%A, %B %e, %Y") %></td>
              <td> <%= Time.parse(reservation.end_date).strftime("%A, %B %e, %Y") %></td>
              <td> <% reservation.users.each do |user| %>
                    <%= user.first_name %>
                    <%= user.last_name %>
                  <% end %>
              </td>
              <td><%= number_to_currency(reservation.price) %></td>
              <td><div class="quantity-button">
                <%= button_to "Remove", reservation_path(reservation.id), method: :delete, class: "btn btn-custom btn-person" %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="total-cart-price">
      <h4>Total Spaces: <%= @cart.total %></h4>
      <h4>Cart Total: <%= number_to_currency(@cart.total_price) %></h4>
      <div class="quantity-button">
        <% if !current_user %>
          <%= button_to("Login or Create Account to Reserve Spaces", login_path(previous_page: "cart" ), method: :get, class: "btn btn-custom btn-person") %>
        <% else %>
          <%= form_tag orders_path do %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Enjoy your stay!"
                    data-amount="<%= @cart.total_price * 100 %>"
                    data-locale="auto"
                    window.location.href = "/orders"></script>
          <% end %>
        <% end %>
      </div>
        <div>
        <%= button_to "Browse More Spaces", root_url, method: :get, class: "btn btn-custom btn-person" %>
      </div>
    </div>
  </div>
