<div class="container" id="cart-spaces">
  <div class="row cart-space">
  <% @spaces.each do |space| %>
  <div class="col-md-4 col-sm-6">
      <%= image_tag space.image_url.url(:thumb) %>
      <h3><%= link_to space.name.capitalize, space_path(space) %></h3>
      <p><%= number_to_currency(space.price) %>,
      <%= space.planet.name %>,
      <%= space.style.name %></p>
      <% space.users.each do |user| %>
        <%= user.first_name %>
        <%= user.last_name %>
      <% end %>
      <div class="quantity-button">
        <%= button_to "Remove", reservation_path(space.id), method: :delete, class: "btn btn-custom btn-person" %>
      </div>
    </div>
  <% end %>
</div>
  <div id="total-cart-price">
    <h4>Total Items in Cart: <%= @cart.total %></h4>
    <h4>Cart Total: <%= number_to_currency(@cart.total_price) %></h4>
    <div class="quantity-button">
      <%= checkout_option %>
      <%= button_to "Keep Shopping", spaces_path, method: :get, class: "btn btn-custom btn-person" %>
    </div>
  </div>
</div>
