<div class="container">
  <h2>All Spaces</h2>
<table id="sock-table" class="table table-hover">
  <thead>
  <tr>
    <th>Sock Name</th>
    <th>Sock Descriptors</th>
    <th>Price</th>
    <th>Status</th>
    <th>Image</th>
    <th>Actions</th>
  </tr>
</thead>

<tbody>
  <% @spaces.each do |space| %>
    <tr>
    <td><%= space.name %></td>
    <td><%= "#{space.planet.name}, #{space.style.name}" %></td>
    <td><%= number_to_currency(space.price) %></td>
    <td><%= space.status %></td>
    <div class="container"><td><%= image_tag sock.image_url.url(:thumb), class: "img-responsive", :crop => :fill %></td></div>
    <td><%= link_to "Edit", edit_admin_space_path(space) %>
    </tr>
  <% end %>
</tbody>
</table>
</div>
