<div class="container">
  <div class="col-md-6 col-md-offset-3">
  <div class="well">
    <h2 class="text-center"><%= "Edit #{@user.first_name}" %></h2>
<%= form_for(@user, url: admin_user_path) do |f| %>
  <h4><%= f.label :username %><br>
  <span class="form-field-username"><%= f.text_field :username, class: "form-control" %></span></span></h4>
  <h4><%= f.label :first_name %><br>
  <span class="form-field-first-name"><%= f.text_field :first_name, class: "form-control" %></span></h4>
  <h4><%= f.label :last_name %><br>
  <span class="form-last-name"><%= f.text_field :last_name, class: "form-control" %></span></h4>
  <h4><%= f.label :role %><br>
  <span class="form-field-role"><%= f.text_field :role, class: "form-control" %></span></h4>
  <h4><%= f.label :email %><br>
  <span class="form-field-email"><%= f.text_field :email, class: "form-control" %></span></h4>
  <h4><%= f.label :phone_number %><br>
  <span class="form-field-phone_number"><%= f.text_field :phone_number, class: "form-control" %></span></h4>
  <%= f.submit class:"btn btn-person btn-custom center-block" %>
<% end %>
</div>
<br><br>
