<div class="container">
  <h1> All Users </h1>

  <table id="users-table" class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
      <th>Screen Name</th>
      <th>UID</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Edit</th>
      <th>Activate</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr id="row-<%= user.username %>">
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.role %></td>
      <td><%= user.screen_name %></td>
      <td><%= user.uid %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_number %></td>
      <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
      <td>
        <% if user.active %>
          <%= link_to "Deactivate", admin_user_path(id: user, change_active: "true"), method: :patch %>
        <% else %>
          <%= link_to "Activate", admin_user_path(id: user, change_active: "true"), method: :patch %>
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
