<div class="container dashboard-header">
  <h1>Admin Dashboard</h1>
</div>

<div class="col-sm-4 col-xs-offset-4">
  <div class="list-group">
    <a href="/admin/unapproved_spaces?" class="list-group-item active">
      <h4 class="list-group-item-heading">All Unapproved Spaces</h4><span class="badge"> <%= @unapproved_spaces.count %> </span>
      <p class="list-group-item-text">&nbsp;</p>
    </a>
    <a href="<%= admin_reservations_path %>" class="list-group-item list-group-item-default">
      <h4 class="list-group-item-heading">All Reservations</h4>
    </a>
    <a href="<%= admin_spaces_path %>" class="list-group-item">
      <h4 class="list-group-item-heading">All Spaces</h4>
    </a>
    <a href="<%= admin_planets_path %>" class="list-group-item">
      <h4 class="list-group-item-heading">All Planets</h4>
    </a>
    <a href="<%= admin_styles_path %>" class="list-group-item">
      <h4 class="list-group-item-heading">All Climates</h4>
    </a>
    <a href="<%= admin_users_path %>" class="list-group-item">
      <h4 class="list-group-item-heading">All Users</h4>
    </a>
  </div>
</div>
