<!DOCTYPE html>
<html>
<head>
  <title>Weekend at Chewie's</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui-1.8.custom.min.js" type="text/javascript"></script>
    <link href=http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css
    rel="stylesheet" type="text/css"/> -->
</head>
<body>
  <%= render 'shared/navbar' %>

  <% flash.each do |name, message| %>
    <%= content_tag :div, raw(message), id: "flash_#{name}" %>
  <% end %>

  <%= yield %>
</body>
</html>
